<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html"/>
<head>
    <title>Reporte de Ingresos</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                COPEMH
                <small>Reporte General de Ingresos</small>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <caption>del ${inicio.strftime('%d de %B de %Y')}
                al ${fin.strftime('%d de %B de %Y')}</caption>
            <thead>
            <tr>
                <th>Concepto</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr py:for="producto in productos">
                <td>${producto.nombre}</td>
                <td>${locale.currency(productos[producto], False, True)}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Total de Ingresos</th>
                <th class="valor">
                        ${locale.currency(sum(productos[producto] for producto in productos), True, True)}
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>
