<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
							"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<?python
	import locale
	locale.setlocale(locale.LC_ALL, '')
?>
<head>
	<title>Reporte de Ingresos</title>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
	<div id="getting_started">
		<h1>COPEMH</h1>
		<h2>Reporte de Ingresos</h2>
		<h3>
			<span py:content="organizacion.nombre" /> en <span py:content="casa.nombre" />
		</h3>
		<table class="stripe">
			<caption py:content="dia.strftime('%A %d de %B de %Y').decode('cp1252')" />
			<thead>
				<tr>
					<th>Concepto</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr py:for="detalle in detalles" py:if="detalle not in ('Filiales', 'CIAPS', 'Filiales Departamentales', 'Capacitaciones')">
					<td py:content="detalle" />
					<td py:content="locale.currency(detalles[detalle], True, True)" />
				</tr>
				<tr py:if="'Filiales' in detalles">
					<td>Filiales</td>
					<td py:content="locale.currency(detalles['Filiales'], True, True)" />
				</tr>
				<tr py:if="'CIAPS' in detalles">
					<td>CIAPS</td>
					<td py:content="locale.currency(detalles['CIAPS'], True, True)" />
				</tr>
				<tr py:if="'Filiales Departamentales' in detalles">
					<td>Filiales Departamentales</td>
					<td py:content="locale.currency(detalles['Filiales Departamentales'], True, True)" />
				</tr>
				<tr py:if="'Capacitaciones' in detalles">
					<td>Capacitaciones</td>
					<td py:content="locale.currency(detalles['Capacitaciones'], True, True)" />
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Total de Ingresos</th>
					<th py:content="locale.currency(sum(detalles[key] for key in detalles), True, True)" />
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>

