<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <title>Reporte de Ingresos</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
  <div id="getting_started">
    <h1>COPEMH</h1>
    <h2>Reporte de Ingresos Resumido en ${casa.nombre}</h2>
    <table class="stripe">
      <caption>del ${inicio.strftime('%A %d de %B de %Y').decode('cp1252')} al ${fin.strftime('%A %d de %B de %Y').decode('cp1252')}</caption>
      <thead>
        <tr>
          <th>Concepto</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="dia in dias">
          <td>${dia.strftime('%d de %B de %Y')}</td>
          <td class="valor">${locale.currency(dias[dia], True, True)}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Total de Ingresos</th>
          <th class="valor">${locale.currency(sum(dias[dia] for dia in dias), True, True)}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
</html>
