<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>Listado de Recibos</title>
  </head>
  <body>
    <div id="getting_started">
      <h2>Ventas del Periodo
      ${inicio.strftime('%A %d de %B de %Y').decode('utf8').capitalize()} al
      ${fin.strftime('%A %d de %B de %Y').decode('utf8').capitalize()}</h2>
      <table>
        <caption>
          ${producto.id} ${producto.nombre}
        </caption>
        <thead>
          <tr>
            <th>Recibo</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th class="valor">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr id="venta-${venta.id}" py:for="venta in ventas">
            <td><a href="${tg.url('/recibo/{0}'.format(venta.recibo.id))}">${venta.recibo.id}</a></td>
            <td>${venta.recibo.cliente}</td>
            <td>${venta.producto.nombre}</td>
            <td>${venta.cantidad}</td>
            <td class="valor">${locale.currency(venta.valor(), True, True)}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">Total de Ingresos:</th>
            <th>${len(ventas)}</th>
            <th class="valor">${locale.currency(sum(v.valor() for v in ventas), True, True)}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
