<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Sistema Gestor de Ingresos</title>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
  <script type="text/javascript" src="${tg.url('/static/javascript/casa.js')}"></script>
  <script type="text/javascript" src="${tg.url('/static/javascript/recibo.js')}"></script>
  <script type="text/javascript" src="${tg.url('/static/javascript/organizacion.js')}"></script>
  <script type="text/javascript">
    $(document).ready(function()
    {
      Casas.url = '${tg.url('/')}';
      Casas.activas();
      Casas.todas();
      Organizacion.url = '${tg.url('/')}';
    	Organizacion.todas();
    	Organizacion.lista();
    });
  </script>
</head>
<body>
  <div id="sidebar" />
  <div id="getting_started">
    <form action="${tg.url('/recibo/nuevo')}" method="post">
      <fieldset>
        <legend>Crear un Recibo</legend>
        <ol>
          <li>
            <label>Casa:</label>
            <select name="casa" class="activas">
            </select>
          </li>
          <li>
            <label>Afiliado:</label>
            <input name="afiliado" />
          </li>
          <li><input type="submit" value="Crear Recibo" /></li>
        </ol>
      </fieldset>
    </form>
    <form action="${tg.url('/recibo/agregar')}" method="post">
      <fieldset>
        <legend>Crear un Recibo</legend>
        <ol>
          <li>
            <label>Casa:</label>
            <select name="casa" class="activas">
            </select>
          </li>
          <li>
            <label>N&uacute;mero:</label>
            <input name="id" />
          </li>
          <li>
            <label>Afiliado:</label>
            <input name="afiliado" />
          </li>
          <li>
            <label>Cliente:</label>
            <input name="cliente" />
          </li>
          <li>
            <label>Dia:</label>
            <input name="dia" class="dia" />
          </li>
          <li><input type="submit" value="Guardar" /></li>
        </ol>
      </fieldset>
    </form>
    <form action="${tg.url('/reporte/dia')}">
      <fieldset>
        <legend>Reporte de Ingresos D&iacute;a</legend>
        <ol>
          <li>
            <label>D&iacute;a</label>
            <input name="dia" class="dia" />
          </li>
          <li><input type="submit" value="Mostrar" /></li>
        </ol>
      </fieldset>
    </form>
    <form action="${tg.url('/reporte/diaCasa')}">
      <fieldset>
      <legend>Reporte de Ingresos de un D&iacute;a y Casa</legend>
        <ol>
          <li>
            <label>Casa:</label>
            <select name="casa" class="casas" />
          </li>
          <li>
            <label>D&iacute;a</label>
            <input name="dia" class="dia" />
          </li>
          <li><input type="submit" value="Mostrar" /></li>
        </ol>
      </fieldset>
    </form>
    <form action="${tg.url('/reporte/organizacion')}">
      <fieldset>
        <legend>Reporte de Ingresos de una Organizaci&oacute;n</legend>
        <ol>
          <li>
          <label>Organizaci&oacute;n:</label>
          <select name="organizacion" class="organizaciones">
          </select>
          </li>
          <li>
            <label>Casa:</label>
            <select name="casa" class="casas" />
          </li>
          <li>
            <label>D&iacute;a</label>
            <input name="dia" class="dia" />
          </li>
          <li><input type="submit" value="Mostrar" /></li>
        </ol>
      </fieldset>
    </form>
  </div>
</body>
</html>
