<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
							"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"
    															py:replace="''"/>
	<title>Producto &bull; ${producto.nombre}</title>
	<script type="text/javascript" src="${tg.url('/static/javascript/organizacion.js')}"></script>
	<script type="text/javascript">
	$(document).ready(function()
	{
		Organizacion.todas();
	});
	</script>
</head>

<body>
  <div id="sidebar">
    <h2>Learn more</h2>
  </div>
  <div id="getting_started">
    <h1 py:content="producto.nombre" />
    <p><span py:content="producto.descripcion" />
    <span py:content="producto.valor()" /></p>
    <table>
    	<caption>Detalles del Producto</caption>
    	<colgroup width="33%">
    		<col />
    		<col />
    		<col />
    	</colgroup>
    	<thead>
    		<tr>
    			<th>Nombre</th>
    			<th>Organizaci&oacute;n</th>
    			<th>Valor</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr id="detalle-${detalle.id}" py:for="detalle in producto.detalles">
    			<td py:content="detalle.nombre" />
    			<td py:content="detalle.organizacion.nombre" />
    			<td py:content="detalle.valor" />
    		</tr>
    	</tbody>
    </table>
    <form action="detalle/agregar" method="post">
	    <table>
	    	<colgroup width="33%">
	    		<col />
	    		<col />
	    		<col />
	    	</colgroup>
	    	<tr>
	    		<td><input name="nombre" /><input name="producto" type="hidden" value="${producto.id}" /></td>
	    		<td>
	    			<select name="organizacion" class="organizaciones" />
	    		</td>
	    		<td><input name="valor" /><input type="submit" value="Agregar" /></td>
	    	</tr>
	    </table>
    </form>
  </div>
</body>
</html>
