<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
							"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type"
		py:replace="''" />
	<title>Listado de Productos</title>
</head>

<body>
	<div id="sidebar">
		<h2>Learn more</h2>
	</div>
	<div id="getting_started">
		<table>
			<caption>Productos Disponibles</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr id="producto-${producto.id}" py:for="producto in productos">
					<td py:content="producto.nombre" />
					<td py:content="producto.descripcion" />
					<td py:content="producto.valor()" />
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="2">Total de productos:</th>
					<th py:content="productos.count()" />
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>
