<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
							"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<?python
	import locale
	locale.setlocale(locale.LC_ALL, '')
?>
<head>
	<title>Recibos de ${casa.nombre} del
					${dia.strftime('%A %d de %B de %Y').decode('cp1252')}</title>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
	<div id="getting_started">
		<h1 py:content="casa.nombre" />
		<h2 py:content="'Recibos del d&iacute;a ',
						dia.strftime('%A %d de %B de %Y').decode('cp1252')" />
		<table>
			<caption>Recibos Registrados</caption>
			<thead>
				<tr>
					<th>N&uacute;mero</th>
					<th>Cliente</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr id="recibo-${recibo.id}" py:for="recibo in recibos">
					<td py:content="recibo.id" />
					<td py:content="recibo.cliente" />
					<td py:content="locale.currency(recibo.total(), True, True)" />
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Total de recibos:</th>
					<th py:content="len(recibos)" />
					<th py:content="locale.currency(sum(r.total() for r in recibos), True, True)" />
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
</body>
</html>
