<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html"/>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <title>Listado de Recibos</title>
</head>

<body>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Busqueda de Recibos</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <caption>Recibos Registrados</caption>
            <thead>
            <tr>
                <th>N&uacute;mero</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Primer Concepto</th>
                <th class="valor">Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr id="recibo-${recibo.id}" py:for="recibo in recibos">
                <td>
                    <a class="btn btn-success btn-block" href="${tg.url('/recibo/{0}'.format(recibo.id))}">${recibo.id}</a>
                </td>
                <td>${recibo.cliente}</td>
                <td>${recibo.dia}</td>
                <td>
                    <span class="oneliner" py:for="venta in recibo.ventas">${venta.descripcion}</span>
                </td>
                <td class="valor">${locale.currency(recibo.total(), True, True)}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
