<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<?python
	import locale
	locale.setlocale(locale.LC_ALL, '')
?>
<head>
	<title>Recibo ${recibo.id}</title>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	<script type="text/javascript" src="${tg.url('/static/javascript/producto.js')}"></script>
	<script type="text/javascript" src="${tg.url('/static/javascript/venta.js')}"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			Producto.todos();
			Producto.cambiado();
			Venta.agregando();
		});
	</script>
</head>
<body>
	<div id="sidebar">
		<a href="${tg.url('impresion/%s' % recibo.id)}">Imprimir y Cerrar</a>
		<a href="${tg.url('anular/%s' % recibo.id)}">Anular</a>
	</div>
	<div id="getting_started">
		<h1 py:content="'Recibo ', recibo.id" />
		<h2>
			<span py:if="recibo.afiliado != None" py:content="recibo.afiliado" />
			<span py:content="recibo.cliente" />
		</h2>
		<table class="stripe">
			<caption>Ventas del Recibo</caption>
			<colgroup width="16%">
				<col />
				<col />
				<col />
				<col />
				<col />
			</colgroup>
			<thead>	
				<tr>
					<th>Cantidad</th>
					<th>Concepto</th>
					<th>Detalle</th>
					<th>Precio Unitario</th>
					<th>Valor</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr py:for="venta in recibo.ventas" id="venta-${venta.id}">
					<td py:content="venta.cantidad" />
					<td py:content="venta.producto.nombre" />
					<td py:content="venta.descripcion" />
					<td py:content="locale.currency(venta.unitario, True, True)" />
					<td py:content="locale.currency(venta.valor(), True, True)" />
					<td><button onclick="Venta.eliminar('${tg.url('venta/eliminar/%s' % venta.id)}')">Eliminar</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4">Total:</th>
					<th colspan="4" py:content="locale.currency(recibo.total(), True, True)" />
				</tr>
			</tfoot>
		</table>
		<form action="venta/agregar">
			<table>
				<colgroup width="16%">
					<col />
					<col />
					<col />
					<col />
					<col />
				</colgroup>
				<tr>
					<td><input tabindex="1" name="cantidad" id="cantidad" /></td>
					<td><select tabindex="2" name="producto" class="productos" id="producto" /></td>
					<td><input tabindex="2" name="descripcion" /></td>
					<td><input tabindex="3" name="unitario" id="unitario" /></td>
					<td id="valor"></td>
					<td><input type="hidden" value="${recibo.id}" name="recibo" />
						<input tabindex="4" type="submit" value="Agregar" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>

