@CHARSET "UTF-8";

body
{
    margin-left: 5px;
    font-size: 90%;
    font-weight: bold;
}
#afiliado, #cliente { padding-left: 30px; }
#afiliado { padding-top: 15px; }

#cliente { padding-top: 5px; padding-bottom: 40px; }

table { width: 100%; padding-top: 15px; }
#cantidad, #unitario, #valor { width: 100px; }
#cantidad { width: 75px; }
#producto { width: 325px; }

#descripcion { width: 400px; }

#total, #fecha, #recibo, #cajero { position: absolute; }

#total { top: 600px; right: 50px; }

#fecha { top: 600px; left: 80px; }
#cajero { top: 600px; left: 400px; }

#recibo { position: fixed; top: 50px; right: 90px; }

