@CHARSET "UTF-8";

body
{
	margin-left: 5px;
  font-size: 90%;
	font-weight: bold;
}
#afiliado, #cliente	{ padding-left: 80px; }
#afiliado {	padding-top: 25px; }

#cliente { padding-top: 5px; padding-bottom: 40px; }

table { width: 100%; }

#cantidad, #unitario, #valor { width: 100px; }

#producto { width: 350px; }

#descripcion { width: 350px; }

#total, #fecha, #recibo, #cajero { position: absolute; }

#total { top: 400px; right: 10px; }

#fecha { top: 400px; left: 100px; }
#cajero { top: 400px; left: 500px; }

#recibo { position: fixed; top: 50px; right: 85px; }

